.decision {
    counter-reset: list;
    &__inner {
        padding: $big-offset 15px 30px;
        position: relative;
        &--2 {
            padding: 37px 0 $big-offset;
        }
    }
    &__title {
        margin-bottom: 25px;
    }
    &__item + &__item {
        margin-top: 30px;
    }
    &-item {
        &__top {
            display: flex;
            align-items: flex-start;
        }
        &__top + &__img {
            margin-top: 20px;
        }
        &__number {
            min-width: 40px;
            min-height: 40px;
            background-color: $light-blue;
            border-radius: 100%;
            transform: translateY(-7px);
            position: relative;
            transition: .3s ease-out;
            &::before {
                content: counter(list);
                counter-increment: list;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                color: #fff;
            }
            &::after {
                content: '';
                background-color: transparent;
                border-radius: 100%;
                position: absolute;
                border: 1.5px solid $light-blue;
                width: 40px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 40px;
                transition: .3s ease-out;
            }
        }
        &__text {
            margin-left: 30px;
        }
        &:hover &__number{
            background-color: $blue;
        }
        &:hover &__number::after {
            width: 48px;
            height: 48px;
            border-color: $blue;
        }
        &--bg {
            overflow-y: hidden;
            background: #A0D5ED;
            position: relative;
            z-index: 5;
            padding: 47px 0 77px;
            img {
                margin-top: 45px;
            }
            .container {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 985px;
                    height: 985px;
                    border-radius: 100%;
                    background-color: $porcelain;
                    top: 50%;
                    left: -88%;
                    transform: translateY(-50%);
                    z-index: -1;
                }
            }
        }
    }
}

.decision-parallax {
    &__left {
        left: -25%;
        top: 30%;

    }
    &__right {
        right: -25%;
        top: 30%;
    }
    &__item {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 172px;
        line-height: 26px;
        color: #F6F7F8;

    }
}

.parallax-left__item {
    text-transform: uppercase;
    user-select: none;
    position: absolute;
        &:nth-child(1) {
            left: -30%;
            top: 3%;
        }
        &:nth-child(2) {
            left: -20%;
            top: 13%;
        }
        &:nth-child(3) {
            left: -35%;
            top: 22%;
        }
        &:nth-child(4) {
            left: -28%;
            top: 32%;
        }
        &:nth-child(5) {
            left: -23%;
            top: 43%;
        }
}

.parallax-right__item {
    text-transform: uppercase;
    user-select: none;
    position: absolute;
        &:nth-child(1) {
            right: -20%;
            top: 18%;
        }
        &:nth-child(2) {
            right: -29%;
            top: 28%;
        }
        &:nth-child(3) {
            right: -19%;
            top: 37%;
        }
        &:nth-child(4) {
            right: -33%;
            top: 46%;
        }
        &:nth-child(5) {
            right: -27%;
            top: 56%;
        }
        &:nth-child(6) {
            right: -16%;
            top: 65%;
        }
}

.text--absolute {
    position: absolute;
    left: 50%;
    z-index: 1;
    font-style: normal;
    font-weight: bold;
    font-size: 92px;
    line-height: 112px;
    letter-spacing: 0.5em;
    transform: translateX(-50%);
    color: rgba(29, 66, 106, 0.05);
    user-select: none;
    text-transform: uppercase;
}
