.intro {
    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }
    &__bottom {
        background-image: url('../images/src/intro.png');
        background-size: cover;
        background-position: center;
        padding: 140px 0 155px;
        &-inner {
            max-width: 670px;
            margin: 0 auto;
        }
    }
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 42px;
        line-height: 51px;
        color: #fff;
        text-align: center;
    }
}
